@use '/src/vars/vars.scss' as vars;


.products{
    border-top: 1px solid vars.$gold;
    border-bottom: 1px solid vars.$gold;
    @include vars.flex-row;
    .product{
        padding: 3px 16px 3px 16px;
    }
}

.main{
    flex-direction: column;
    align-items: center;
    .form-container{
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 3rem;
    height: auto;
    .form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
}
.product-handler{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    .button{
        width: fit-content;
    }
}