@use "/src/vars/vars" as vars;


.loader-container{
    width: 100%;
    padding-top: 10%;
    display: flex;
    @include vars.center;
}
.main-products{
    @include vars.flex-row;
    .product-container{
        @include vars.flex-row;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 500px){
    .main-products{
        flex-direction: column;
        @include vars.center;
    }
}