$light-gold: #f6e5b3;
$gold:  #c4a767;
$gray:  #151515;
$light-gray: rgb(164, 164, 164);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Lovelyn';
  src: url('/public/fonts/LovelynRegular.woff2') format('woff2'),
       url('/public/fonts/lovelynRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin center{
    align-items: center;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.center{
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: $light-gray;
    transition: all 200ms ease;
}
a:hover{
    color: $light-gold;
    cursor: pointer;
}
.icon{
    width: 8rem;
    border-radius: 100%;
}
.heading{
    font-style:italic;
    text-align: center;
    font-size: 2.5rem;
    color: $light-gray;
}
p{
    color: $light-gray;
}
button{
    all: unset;
}
li{
    list-style: none;
}
.button{    
        font-weight: 600;
        margin: 10px;
        align-items: center;
        appearance: none;
        background-color: $gold;
        border-radius: 8px;
        border-width: 0;
        box-shadow: rgba(197, 167, 103, 0.2) 0 2px 4px, rgba(246, 229, 179, 0.15) 0 7px 13px -3px, rgb(197, 167, 103) 0 -3px 0 inset;
        box-sizing: border-box;
        color: $gray;
        cursor: pointer;
        display: inline-flex;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
        &:focus {
          box-shadow: $light-gold 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, $light-gold 0 -3px 0 inset;
        }
        &:hover {
          box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
          transform: translateY(-2px);
        }
        &:active {
          box-shadow: $light-gold 0 3px 7px inset;
          transform: translateY(2px);
        }
      }
.input {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.6rem;
  max-width: 190px;
  transition: .4s;
  margin: 1rem;

  &:hover {
    box-shadow: 0 0 0 .15vw $light-gray;
  }
  
  &:focus {
    box-shadow: 0 0 0 .15vw $gold;
  }
}