@import "/src/vars/vars.scss";

.cart-product-container{
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5%;
    border: 1px solid $gold;
    border-radius: 10px;
     box-shadow: rgba(197, 167, 103, 0.2) 0 2px 4px, rgba(246, 229, 179, 0.15) 0 7px 13px -3px,;
    padding: 1%;
    .product-card{
        @include flex-row;
        justify-content: space-between;
        padding: 1rem;
        .img-name{
            @include flex-row;
            .img{
                padding: 1rem;
            }
            .info{
                padding: 1rem;
            }
        }
    }
}
.final-step{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
  padding: 1rem;
  align-items: center;
  .price{
    font-size: 18px;
  }
}
