@import "/src/vars/vars";
.header {
        @include flex-column;
        border-bottom: 1px solid $light-gold;
    .header-container{
        @include flex-row;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;

        .logo-container {
        @include flex-row;
        @include center;
        .nickname{
          font-family: 'Lovelyn', serif;
          font-size: 3rem;
          font-weight: 400;
          color: white;
        }
        }
    
        .account-container {
        margin: 1rem;
            .account-info{
            display: flex;
            align-items: stretch;
            flex-direction: column;
            margin-top: 5px;
          }
        .icon{
          all:unset;
          display: flex;
          width: 70px;
          height: 70px;
          border-radius: 100%;
          border: 3px solid $gold;
          @include center;
          .account-icon{
            height: 80%;
            width: 80%;
            @include center;
            border: 3px $gray solid;
            border-radius: 30px;
            }
          }
        &:hover{
          transform: scale(1.05);
          transition: all 200ms ease-in-out;
          }
        &:active{
          transform: scale(1);
          transition: all 50ms ease-in;
          }
        }
      }          
    }