@use '/src/vars/vars.scss' as vars;

.footer{
    margin-left: 0px;
.top-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid vars.$gold;
    box-shadow: rgba(197, 167, 103, 0.2) 0 7px 4px, rgba(246, 229, 179, 0.15) 0 7px 13px -3px, rgb(197, 167, 103) 0 -2px 20px;
    margin-top: 2rem;
    padding: 1rem;
    .text{
        font-size: 1.3rem;
        }

    .input {
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.6rem;
    max-width: 190px;
    transition: .4s;
    margin: 1rem;

    &:hover {
        box-shadow: 0 0 0 .15vw vars.$light-gray;
    }
    
    &:focus {
        box-shadow: 0 0 0 .15vw vars.$gold;
    }
    }
}
.middle-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .middle-footer-left{
        .middle-footer-letf-title{
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 10px;
            order: 1;
        }
        padding: 1rem;
        width: 30%;
        .card {
            border-radius: 10px;
            width: fit-content;
            height: fit-content;
            background-color: #151515;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
            gap: 20px;
            box-shadow: 0px 0px 8px vars.$light-gray;
            flex-direction: column;
            }

            .socialContainer {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: vars.$light-gray;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition-duration: 0.3s;

            &:hover {
                background-color: #c4a767;

                .socialSvg {
                animation: slide-in-top 0.3s both;
                }
            }

            &:active {
                transform: scale(0.9);
            }

            .socialSvg {
                width: 17px;
                background-color: transparent;
                path {
                fill: #fff;
                }
            }
            }

            @keyframes slide-in-top {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .middle-footer-middle{
        width: 30%;
        order: 2;
        .logo{
            width: 100%;
        }
    }
    .middle-footer-right{
        width: 30%;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 1.5rem;
        order: 3;
    }
}
.bottom-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .middle-footer {
    display: grid;
    grid-template-areas:
      "left middle-middle"
      "right right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-items: center;
    justify-items: start;
  }

  .middle-footer-left {
    grid-area: left;
    width: fit-content !important;
  }

  .middle-footer-middle {
    grid-area: middle-middle;
    width: 130% !important; 
    justify-self: end;
    .logo {
      width: 100%;
    }
  }

  .middle-footer-right {
    grid-area: right;
    width: 100% !important;
    justify-content: space-evenly !important;
    justify-self:stretch;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 0px;

  }
  a{
    
    font-size:0.95rem;
    text-decoration: underline;
  }

  .bottom-footer {
    margin-bottom: 5rem;
  }
}

}
